<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jong.sku.study">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/parts_moa_logo_round"
        android:label="Parts Moa"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/parts_moa_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".LikeItemActivity"></activity>
        <activity android:name=".CarInfoResistActivity" />
        <activity android:name=".UpdateActivity" />
        <activity android:name=".MypageActivity" />
        <activity android:name=".NaverMapActivityForRepairShop" />
        <activity
            android:name=".PopupActivity"
            android:theme="@android:style/Theme.Dialog" />
        <activity android:name=".HomeActivity" />

        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="e6zlkg93fh" />

        <activity
            android:name=".NaverMapActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".LoginActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".JoinActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>